<html>
    <body>
        <section>
            <form action = "http://localhost:5000/search" method = "GET">
                <div class="field">
                    <label>State:</label>
                    <input type = "text" name = "state" />
                </div>
                    <button type = "submit">Search</button>
            </form>
        </section>
        <section>
            <form action = "http://localhost:5000/population" method = "POST">
                <div class="field">
                    <label>State:</label>
                    <input type = "text" name = "state" />
                </div>
                <div class="field">
                    <label>Population:</label>
                    <input type = "text" name = "population" />
                </div>
                <button type = "submit">Update</button>
            </form>
        </section>
    </body>
</html> 